.head {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    min-width: 300px;
    border-bottom: 2px solid black;
}

.posimg {
    margin: 10px 5%;
}

.li {
    white-space: nowrap;
    font-family: 'Space Grotesk';
    text-decoration: none;
    transition: 0.45s;
}

.li:visited {
    color: black; 
}

.li:hover {
    color: #B9FF66;
}

.li:link {
    color:black;
}

.nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-right: 6%;
    margin-left: 20px;
    justify-content: right;
    gap: 45px;
}

.spisok {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 45px;
    margin: 0;
    padding: 0;
    font-size: clamp(1.031rem, 0.906rem + 0.63vw, 1.375rem);
}

.button {
    background: #B9FF66;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    gap: 20px;
    width: 15%;
    height: 50px;
    margin-left: 10px;
    border-radius: 10px;
    border: 1px solid black;
    min-width: 150px;
    color: black;
}

@media (max-width: 1077px) {
    .head {
        flex-direction: column;
        align-items: center;
    }
    .posimg {
        margin: 20px auto 0 auto;
    }
    .nav {
        flex-direction: column;
        align-items: center;
        margin-right: 0;
        margin-left: 0;
        gap: 15px;
    }
    .spisok {
        flex-direction: column;
        gap: 15px;
    }
    .button {
        width: 30%;
        margin: 5px 15px 15px 15px;
    }
}

@media (max-width: 768px) {
    .head {
        padding: 20px;
    }
    .nav {
        gap: 10px;
    }
    .spisok {
        gap: 10px;
        font-size: 25px;
        margin-bottom: 5px;
    }
    .button {
        font-size: 20px;
    }
}

@media (max-width: 480px) {
    .head {
        padding: 10px;
    }
    .nav {
        gap: 5px;
    }
    .spisok {
        gap: 5px;
    }
    .button {
        font-size: 18px;
    }
}
@media (max-width: 300px) {
    .head {
        padding: 5px;
        flex-direction: column;
        align-items: center;
    }
    .posimg {
        margin: 10px auto;
        width: 50%;
    }
    .nav {
        flex-direction: column;
        align-items: center;
        margin-right: 0;
        margin-left: 0;
        gap: 5px;
    }
    .spisok {
        flex-direction: column;
        gap: 5px;
        font-size: 12px;
    }
    .button {
        width: 100%;
        margin-left: 0;
        font-size: 12px;
        height: 30px;
    }
    .li {
        font-size: 12px;
    }
}