.button_course{
    border-radius: 14px;
    padding: 20px 35px;
    width: 264px;
    height: 68px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #191A23;
    color: #ffffff;
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
}
.conteiner{
    border: 2px solid #191A23;
}
.menu{
    position: absolute;
    width: 220px;
    padding: 20px;
    border: 2px solid #191A23;
    background-color: #ececec;
    border-radius: 14px;
    opacity: 0;
    transform: translateY(-10px);
    visibility: hidden;
    transition: 0.3s;
}
.menu.active{
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
}
.menu_list{
    list-style: none;
    width: 100%;
    padding: 0;
    margin: 0;
    gap: 10px;
}
.menu_item{
    font-size: 20px;
    justify-content: center;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: underline;
}
