@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

body {
  margin: 0;
  padding: 0;
}

.body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

.card_general {
  min-height: 100%;
  padding: 0;
  margin: 0;
  border-top: 2px solid black;
}

.li {
  white-space: nowrap;
  font-family: 'Space Grotesk';
  text-decoration: none;
  transition: 0.45s;
}

.names {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  text-align: center;
}

.card_image {
  width: 80px;
  height: 80px;
  margin: 0 0 0 10px;
}

.git_button {
  background: #B9FF66;
  border: 1px solid black;
  margin: 0 0 15px 10px;
  color: black;
}

.li:visited {
  color: black;
}

.li:hover {
  color: #B9FF66;
}

.card_text {
  font-weight: 800;
}

.h1_dev {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Space Grotesk';
  background-color: #191A23;
  color: white;
  margin: 50px 0 0 0;
  padding-top: 20px;
}

.card_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.card_container2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1%;
  gap: 10%;
}

.card_main {
  border: 2px solid black;
  border-radius: 20px;
  padding: 20px;
  width: 400px;
  height: 400px;
  box-shadow: 0px 7px 5px black;
  margin: 20px 20px 0 20px;
  position: relative;
}

@media (max-width: 1000px) {
  .card_main {
    width: 350px;
    height: 430px;
  }
  .card_container2 {
    margin: 20px;
  }
}

h4 {
  text-align: center;
  margin-bottom: 0;
}

.spanText {
  font-size: 20px;
}

@media (max-width: 1200px) {
  .card_container {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
  }
  .card_container2 {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 30px;
  }
  .card_main {
    margin: 0;
  }
}

@media (max-width: 400px) {
  .card_main {
    max-width: 300px;
    height: 550px;
    padding: 17px;
  }
  .spanText {
    font-size: 17.5px;
  }
  .names {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}

@media (max-width: 720px) {
    .git_button {
      padding-top: 5px;
    }
}